.Search{
  text-align: center
}
.landing-page{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 30px;
}
.checkup-button{
  background:#E67E22;
  border: none;
  transition: all 240ms ease;
  width:130px;
  border-radius: 0px 4px 4px 0px;
  color:#fff;
  font-size: 20px;
  height:70px;
  cursor: pointer;
}
.checkup-input{
  border-radius:4px 0px 0px 4px;
  border: 1px Solid #ccc;
  padding:15px;
  font-size: 20px;
  width: 600px;
}
.checkup-input:focus{
  border:2px solid #e67e22;
  outline: none
}
.checkup-form{
  display: flex;
  justify-content: center;
  height:70px;
}
.checkup-analysis{
  color: #555;
  font-weight: 400;
  font-size: 25px;
}
.checkup h1{
	margin-bottom: 0;
}
svg >circle:first-of-type{
  stroke: #e0e0e0;
}

@media all and (min-width: 600px){
	.checkup h1{
	  font-size: 40px
  }
}